@import '../../App.scss';

.hero-section {

    position: relative;
    height: 620px;
    margin: -116px auto;
    overflow: hidden;
    width: 100vw;


    &-content {
        background: url('../assets/99images/banner.png') 
        center center/cover no-repeat;
        width: 100vw;
        overflow: hidden;
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto 0;
        padding: 140px 12% 0;
        max-width: 1500px;
    }

    &-image {
        padding: 30px;
        text-align: right;
        width: 35vw;

        img {
            width: 25vw;
            max-height: auto;
        }
    }

    &-cta {
        display: flex;
        flex-direction: column;
        padding-top: 60px;

        h1 {
            color: #fff;
            margin: 0;
            font-weight: 400;
            line-height: 2.5rem;
            width: 40vw;
            font-size: 2.25rem;
            margin: 0 0 20px;
        }

        p {
            margin: 0 0 20px;
        }

        input {
            margin-right: 10px;
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            padding: 0 37px;
            font-family: 'Rubik', sans-serif;
            width: 60%;
            left: 1189px;
            top: 464px;
            height: 50px;
            border: 0;
            z-index: 35;
            font-size: $font-med;
            font-weight: 300;
            margin: 0 15px 10px 0;
        }

        form {
            margin: 0;
        }
    }

    .description {
        font-size: $font-med;
        color: #fff;
        font-weight: 300;
        width: 41vw;
    }

    .no-spam {
        font-weight: 300;
        font-size: $font-xs;
        color: $pink;
    }

}