@import '../../App.scss';

.hero {

    /*background: url('./assets/99images/banner.png') 
    center center/cover no-repeat;*/
    height: 620px;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin: -116px auto;
    top: 0;
    overflow: hidden;   
    z-index: -2; 

    .hero-background {
        background-image: url('../assets/99images/banner.png');
        background-repeat: no-repeat;
        height: 620px;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
    }

    .hero-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto 0;
        padding: 120px 12% 0;
        max-width: 1500px;
        overflow: hidden;
    }

    .hero-image {
        padding-right: 30px;
        text-align: right;
        width: 35vw;

        img {
            width: 22vw;
            max-height: auto;
        }
    }

    .hero-cta {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-left: 20px;

        h1 {
            color: #fff;
            margin: 0;
            font-weight: 400;
            line-height: 2.5rem;
            width: 40vw;
            font-size: 2.25rem;
            margin: 0 0 10px;
        }

        p {
            margin: 0 0 10px;
        }

        input {
            margin-right: 10px;
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            padding: 0 37px;
            font-family: 'Rubik', sans-serif;
            width: 60%;
            left: 1189px;
            top: 464px;
            height: 50px;
            border: 0;
            z-index: 35;
            font-size: $font-med;
            font-weight: 300;
            margin: 0 15px 10px 0;
        }

        form {
            margin: 0;
        }
    }

    .description {
        font-size: $font-med;
        color: #fff;
        font-weight: 300;
        width: 41vw;
    }

    .no-spam {
        font-weight: 300;
        font-size: $font-xs;
        color: $pink;
    }

    @media screen and (max-width: 960px) {

        /*
        .hero-background {
            background-image: url('./assets/99images/Rectangle1.png');
            background-repeat: no-repeat;
            top: 0;
        }*/
    

        .hero-container {
            display: flex;
            top: 80px;
            flex-direction: column-reverse;
            position: relative;
            justify-content: center;
            margin: auto 0;
            padding: 0;
        }

        .hero-cta {
            display: flex;
            flex-direction: column;
            margin: 20px auto;
            width: 95vw;
            padding: 20px;
                
            h1 {
                width: 85vw;
                color: #fff;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 2rem;
            }
    
            p {
                width: 80vw;
                color: #fff;
                font-weight: 300;
            }
        }
    }
}