@import '../../App.scss';

.right-features {

    .feature {
        display: flex;
        flex-direction: row;
    }

    .feature-text {

        width: 20vw;
        padding: 10px;

        h4 {
            margin: 0;
            font-weight: 400;
            font-size: 1.125rem;
        }

        p {
            font-size: $font-med;
            font-weight: 300;
            margin: 0;
        }
    }
    
    .feature-icon-right {
        margin-top: 25px;
        margin-right: 30px;
    }

    @media screen and (max-width: 425px) {
        .feature-text {

            width: 80vw;
            padding: 10px;
    
            h4 {
                margin: 0;
                font-weight: 400;
                font-size: 1.125rem;
            }
    
            p {
                font-size: 1rem;
                font-weight: 300;
                margin: 0;
            }
        }

        .feature-icon-right {
            margin: 25px 20px 0 5px;

        }
    }

    @media screen and (max-width: 280px) {
        .feature-icon-right {
            margin: 25px 30px 0 10px;

        }
    }

}