@import '../../App.scss';

.section2 {
    background-color: $white;
    height: 700px;
    position: relative;
    width: 100vw;
    overflow: hidden;

    &-content {
        background: url('../assets/99images/featurebg.png') 
        center center/cover no-repeat;
        background-repeat: no-repeat;
        height: 550px;
    }

    .content {
        padding: 50px 12% 15px;
    }

    &-header-container {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        width: 100vw;

        h1 {
            font-weight: 400;
            line-height: 2.5rem;
            margin: 0;
        }

        p {
            font-weight: 300;
            font-size: $font-med;
            margin: 0;
        }
    }

    &-content-container {
        display: flex;
        flex-direction: row;
        margin: auto 0;
        width: 100vw;
        padding: 15px 12% 0;
    }

    &-img {

        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto 0;
        width: 25vw;

        img {
            width: 95%;
            height: auto;
        }
    }

    @media screen and (max-width: 425px) {

        height: 1550px;
        
        &-content {
            background: url('../assets/99images/fbg.png') 
            center center/cover no-repeat;
            background-repeat: no-repeat;
            height: 1400px;
        }

        &-content-container {
            display: flex;
            flex-direction: column;
            margin: auto 0;
            width: 100vw;
            padding: 15px 6% 0;
        }

        &-img {
            order: 3;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: auto 0;
            width: 90vw;

            img {
                width: 95%;
                height: auto;
            }
        }

        .right-features {
            order: 2;
        }

        .left-features {
            order: 1;
        }
    }
}