@import '../../App.scss';

.section4 {

    background: url('../assets/99images/section4.png') 
    center center/cover no-repeat;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 80px 12%;
    width: 100vw;
    z-index: -1;

    .section4-content {

        text-align: center;

        h4 {
            font-weight: 400;
            font-size: $font-xl;
            color: $white;
            margin: 0;
        }

        h3 {
            font-weight: 300;
            font-size: $font-lg;
            color: $white;
            margin: 0 0 20px;
        }

        input {
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            padding: 0 37px;
            font-family: 'Rubik', sans-serif;
            left: 1189px;
            top: 464px;
            width: 30%;
            height: 50px;
            border: 0;
            z-index: 35;
            font-size: $font-med;
            font-weight: 300;
            margin: 10px 15px 10px 10px;
        }

        @media screen and (max-width: 960px) {

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
            }

            input {
                width: 80%;
                transition: all 0.3s ease-out;
            }

        }

        @media screen and (max-width: 500px) {

            
        }
    }
}